<div id="<%= dom_id patient %>">
  <p>
    <strong>Sca:</strong>
    <%= patient.Sca %>
  </p>

  <p>
    <strong>Scr:</strong>
    <%= patient.Scr %>
  </p>

  <p>
    <strong>Uca:</strong>
    <%= patient.Uca %>
  </p>

  <p>
    <strong>Ucr:</strong>
    <%= patient.Ucr %>
  </p>

  <p>
    <strong>Ratio:</strong>
    <%= patient.Ratio %>
  </p>

</div>
